{% extends 'base.html' %}

<!-- Page | Title -->
{% block title %}
<title>Hana</title>
{% endblock %}

<!-- CSS | Style -->
{% block csstyle %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

<!-- Icon -->
{% block icon %}

{% endblock %}

<!-- Content -->
{% block content %}
<!-- Slideshow container -->
<div class="slidercontainer">
    <div class="showSlide fade">
        <img src="../static/img/001.jpg" />
        <div class="content">Slide1 heading</div>
    </div>
    <div class="showSlide fade">
        <img src="../static/img/004.jpg" />
        <div class="content">Slide2 heading</div>
    </div>

    <div class="showSlide fade">
        <img src="../static/img/001.jpg" />
        <div class="content">Slide3 heading</div>
    </div>
    <div class="showSlide fade">
        <img src="../static/img/004.jpg" />
        <div class="content">Slide4 heading</div>
    </div>
    <!-- Navigation arrows -->
    <a class="left" onclick="nextSlide(-1)">❮</a>
    <a class="right" onclick="nextSlide(1)">❯</a>
</div>
<!-- End Slideshow -->

{% endblock %}

<!-- Calling Slides show | Javascript File -->
{% block js %}
<<script type="text/javascript" src="../static/js/slidesShow.js"></script>
{% endblock %}
